.numpad {
  position: relative;
  height: 38vh;
  width: 35vh;
  margin: 2vh auto;
  display: flex;
  flex-wrap: wrap;
  background: #f2f2f2;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: solid 1px #058;
  padding: 4% 2.5%;
}

.number {
  width: 8.5vh;
  height: 8.5vh;
  margin: 3% 2%;
  border-radius: 50%;
  font-size: 40px;
  font-weight: 700;
  border: none;
  opacity: 0.75;
  user-select: none;
  cursor: pointer;
  border: 1px #555 solid;
  transition: color, background-color 200ms ease;
  color: #414143;
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(2px + 6vh);
}

.number:hover {
  background: #00e6d8;
  opacity: 0.85;
  color: #332;
  border: solid 1px #222;
}

.number.badnum {
  color: #a33;
  background: #ddd;
  border: none;
}

.number.highlight {
  background: #46c7e6;
  opacity: 1;
  border: solid 1px #111;
  pointer-events: none;
  cursor: none;
  color: #fff;
}

.number.highlight.badnum {
  color: #a33;
}
