.numpad{
  position: relative;
  height: 32vh;
  width: 32vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  aspect-ratio: 1/1;
}

.num-grid{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #151111;
  border-radius: 5%;
  border: solid 1px #058;
  box-shadow: 0 0 10px 0 #07a;
  padding:25px 5px;
}

.number{
  width: 24%;
  height: 32%;
  margin: 7px 6px;
  border: solid 1px #000;
  border-radius: 15px;
  font-size: 40px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  user-select: none;
  cursor: pointer;
}

.number:hover{
  color: #fff;
  background: rgba(0,170,210, 0.95);
}

.number.highlight{
  color: #eee;
  background: #249;
  border: solid 2px #ddd;
  pointer-events: none;
  cursor: none;
}

.number.badnum{
  color: #a00;
  background: #777;
}