.numpad {
  position: relative;
  height: 38vh;
  width: 35vh;
  margin: 2vh auto;
  display: flex;
  flex-wrap: wrap;
  background: #f2f2f2;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: solid 1px #058;
  padding: 25px 5px;
  aspect-ratio: 1/1;
}

.number {
  width: 75px;
  height: 75px;
  margin: 7px 6px;
  border: solid 1px #888;
  border-radius: 50%;
  font-size: 40px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.75;
  user-select: none;
  cursor: pointer;
  color: #212123;
  transition: all 200ms ease;
}

.number:hover {
  background: #00b6a8;
  opacity: 0.8;
  color: #fff;
  border: solid 1px #555;
}

.number.highlight {
  background: #46c7e6;
  opacity: 1;
  border: solid 1px #111;
  pointer-events: none;
  cursor: none;
  color: #212121;
}

.number.badnum {
  color: #a33;
  background: #aaa;
}
