.gameboard {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  max-height: 70vh;
  height: auto;
  flex: 0 0 70vh;
  justify-content: center;
  margin: auto 0;
  border-radius: 1vmin;
  margin: 5% 0;
  border: solid 1.5vmin #8a8;
  box-shadow: 0 0.3vh 2vmin 0.1vmin rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 0 0.3vh 2vmin 0.1vmin rgba(0, 0, 0, 0.27);

  .mobile & {
    width: 100%;
    height: 90vw;
    max-width: 70vh;
    max-height: 70vh;
    flex: 0 0 auto;
    margin: 0 auto;
  }
}

.row {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 11.11%;
  width: 100%;
  text-align: center;
}

.tile {
  position: relative;
  width: 11.11%;
  height: auto;
  flex: 0 0 11.11%;
  max-height: 100px;
  max-width: 100px;
  background: #eee;
  cursor: pointer;
  user-select: none;
  font-size: calc(3px + 4.2vh);
  font-weight: 800;
  margin: 0.1px;
  border-radius: 1px;
  color: #555;
  box-shadow: 0 0 0 1px #8d8387;
  transition: all 100ms ease;

  .mobile & {
    font-size: calc(4px + 5.2vw);
  }
}

.tile-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: all 80ms ease;
}

.tile-content.highlight {
  color: #000;
  background: rgba(201, 247, 95, 0.5);
}

.tile-content.selected {
  z-index: 1;
  background: rgba(50, 220, 250, 0.7);
  color: #fff;
  border: solid 1px #150505;
  width: 99%;
  height: 99%;
  font-size: 1.2em;
  font-weight: bold;
  box-shadow: inset 0 0 2px 0 #d5d5d5, 0 0 1px 0 #252525;
}

.tile-content.fixed {
  background: #ccc;
}

.tile-content.fixed.highlight,
.tile-content.fixed.selected {
  z-index: 0;
  background: rgba(180, 205, 180, 0.7);
  color: #333;
}

.tile-content.invalid {
  background: #e33;
  color: #111;
}

.tile-content.invalid.fixed {
  background: #aaa;
  color: #e22;
  box-shadow: inset 0 0 1px 3px #f22;
}

.tile-content.focused {
  background: rgba(50, 220, 250, 0.5);
  color: #ffffe5;
  font-weight: 600;
}

.tile-content.focused.invalid {
  color: #d11;
}

.tile-number {
  width: 100%;
  opacity: 1;
  transition: all 150ms ease;
}

.tile-number.no-val {
  opacity: 0;
  transform: translate(0, 55%);
}

.border-left {
  border-left: solid 2px #222;
}

.border-top {
  border-top: solid 2px #222;
}

.border-right {
  border-right: solid 2px #222;
}

.border-bottom {
  border-bottom: solid 2px #222;
}
