button {
  pointer-events: all;
  cursor: pointer;
}

.sudoku {
  height: 94vh;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 3%;

  &.mobile {
    height: auto;
    min-height: 92vh;
    padding: 0 5%;
    margin-top: 8vh;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 4%;

    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
  }
}

.mobile::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.actions-group {
  height: 90vh;
  width: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  gap: 1.5vh;
  padding: 3% 0;
  margin-left: 8%;
  font-size: calc(2px + 2vh);
}

.actions-group > * {
  border-radius: 10px;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
}

.btn-ui {
  z-index: 1;
  min-width: 0.8vh;
  border: unset;
  border-radius: 10px;
  color: #212121;
  padding: 0.5vh 1vh;
  background: #f5f5f5;
  position: relative;
  font-weight: 800;
  font-size: calc(3px + 2vh);
  transition: all 250ms;
  /* overflow: hidden; */
  -webkit-tap-highlight-color: #56c7e6;

  .mobile & {
    font-size: calc(3px + 3vw);
    padding: 1vw 2vw;
  }
}

.btn-ui::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  border-radius: 8px;
  background-color: #034078;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;

  .mobile & {
    transition-duration: 50ms;
  }
}

.btn-ui:hover,
.btn-ui.active {
  color: #f0f0f0;
}

.btn-ui.active {
  transform: translate(0, 4%);
}

.btn-ui:hover::before,
.btn-ui.active::before {
  width: 100%;
}

.btn-ui:disabled {
  filter: brightness(0.5) grayscale(0.9);
}

.puzzle-select {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 1vh 0;
  margin-bottom: 2vh;
  background: #f5f5f5;
  border: solid 1px #034078;
}

.puzzle-select .btn-ui {
  border: solid 1px #56c7e6;
}

.puzzle-select .btn-ui::before {
  background: #00b6a8;
}

.puzzle-select .btn-ui:hover {
  color: #fff;
}

.slidecontainer {
  width: 90%;
  margin: 1vh auto;
  border-radius: 10px;
  border: solid 1px #034078;
  padding: 4% 8%;
  background: #f5f5f5;
}

.slidecontainer button {
  border: solid 1px #034078;
  margin: 1.5vh 0 0.5vh;
  box-shadow: none;
}

.btn-wide {
  width: 90%;
  margin: 0 auto;
  font-size: calc(2px + 2vh);
  font-weight: bold;
}

.text-input-label {
  display: inline-block;
  margin-left: 10px;
  width: 50px;
  font-weight: 600;
  text-align: left;
  color: #000;
}
